fail_fast: true
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: check-added-large-files
      args: ['--maxkb=500']
      exclude: >
            (?x)^(
                package-lock\.json
            )$
    - id: fix-byte-order-marker
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: check-symlinks
    - id: debug-statements
    - id: detect-private-key
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.1.6
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
- repo: local
  hooks:
  - id: eslint
    name: eslint-local
    entry: npm run lint
    language: system
    types: [javascript]
    exclude: >
            (?x)^(
                .+\.config\.js|
                server\.js|
                \.eslintrc\.js
            )$
    pass_filenames: true
  - id: missing-migrations
    name: missing-migrations-local
    entry: poetry run python backend/manage.py makemigrations --check
    language: system
    # Only run missing migration check if migration-generating files have changed:
    files: (.*/?(settings|migrations|models)/.+|.+models\.py|.+constants\.py|.+choices\.py|.+pyproject\.toml)
    pass_filenames: false
