[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

bandit = "*"
coverage = "*"
django-naomi = "*"
isort = "*"
model-mommy = "*"
pre-commit = "*"
prospector = {version="==1.1.6.2", extras = ["with-vulture"]}
safety = "*"


[packages]

django = "*"
celery = {extras = ["redis"]}
django-model-utils = "*"
django-webpack-loader = "*"
django-js-reverse = "*"
django-import-export = "*"
python-decouple = "*"
"psycopg2" = "*"
brotlipy = "*"
django-log-request-id = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
psutil = "*"
ipython = "*"
sentry-sdk = "*"


[requires]

python_version = "3.7"
