{% extends 'base.html' %}

{% block body %}
  <div class="max-w-5xl mx-auto px-4">
    <h1 class="text-5xl mb-2">Django React Boilerplate Example App</h1>
    <p class="mb-2">
      Below is an example of a React app included in the Django template.<br/>
      Check <code class="px-1.5 py-0.5 text-sm font-mono text-pink-600 bg-gray-100 rounded">backend/templates/common/index.html</code> and <code class="px-1.5 py-0.5 text-sm font-mono text-pink-600 bg-gray-100 rounded">frontend/js/index.js</code> to understand how they're linked:
    </p>
  </div>
  <div class="max-w-5xl mx-auto px-4" id="react-app"></div>
{% endblock %}
